@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* All divisions */
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 13, 13);
    color: rgb(216, 206, 149);
}

img {
    max-width: 8em;
    max-height: auto;
    opacity: 80%;
}

button {
    min-width: 100px;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 auto;
}

.start {
    display: flex;
}

.start-button, 
.play-again {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.start .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.game .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-container {
display: flex;
width: 100vw;
align-items: center;
justify-content: center;
}

.round-number-text{
    text-align: center ;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.images .weapon-player,
.images .computer-player {
    flex: 1;
}

.buttons {
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-button {
    margin : 0 20px;
    border-radius: 8px;

}

.buttons .rock {
color: whitesmoke;
background-color: rgb(210, 119, 228);
}

.buttons .rock:hover {
color:  rgb(210, 119, 228);
background-color:whitesmoke;
}

.buttons .paper {
color: whitesmoke;
background-color: rgb(59, 62, 224);
}

.buttons .paper:hover {
color: rgb(59, 62, 224);
background-color: whitesmoke;
}

.buttons .scissors {
color: rgb(31, 24, 24);
background-color: rgb(231, 236, 82);
}

.buttons .scissors:hover {
color: rgb(231, 236, 82);
background-color:darkolivegreen ;
}

.game-end-text {
    flex: 1;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.win {
    color: green;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lose {
    color: red;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.endgame .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    visibility: visible ;
    height: 60px;
}

#game {
    visibility: hidden;
}

#endgame {
    visibility: hidden;
}

@media all {
    html, body {
        max-width: 100vw;
        max-height: 100vh;
    }
}
